<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="akka_persistence_android"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- robolectric uses these versions to determine its compatibility. it currently only supports <= 18 -->
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
    <application android:name="akka.persistence.android.common.AppContext" />
</manifest>
